*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Imagenes/fondo1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: Impact, Haettenschweiler,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2{
    font-family: Impact, Haettenschweiler,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.Inscripcion{
    font-family: Impact, Haettenschweiler,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}
nav{
    padding: 2rem;
}
.menu{
margin: 15px;
background-color: rgba(42, 42, 192, 0.5);
text-align: center;
}
.menu li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: black;
    padding: 10px;
    position: relative;
}
.menu li a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.menu li a:hover{
color: yellow;
font-weight: bold;
}
.IND{
    background-color: white;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
}
ul li:hover ul{
display: block;
}
.Torneos{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 1rem;
    border: blue;
}
img{

    opacity: .4;
    border: 2px double white;
}
img:hover{
    opacity: 1;
    border: red;
}
h4{
 text-align: center;
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
   display: flex;
   justify-content: center;
}
h3{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
   text-align: left;
}
section a{
justify-content: left;
}
 img{
    transition: 1s;
 }
 .WPP:hover{
    transform: rotate(140deg) scale(2) skew(30deg);
 }
 footer{
    transition: transform o.3s;
     }
     .WPP:hover {
        transform: scale(1.1) translateY(-40);
     }
     .Torneos{
        animation-name: agrandar;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
     }
     @keyframes agrandar{
        from{
            transform: scale(1.2);
        }
        to{
            transform: scale(1.1);
        }
     }
     .card-group img{
        width: 200px;
     }
     .card-group a:hover{
     opacity: 1;
     }
     footer{
        height: auto;
        margin: auto;
     }
.col img{
    width: 100px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes agrandar{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1.1);
    }
}
.card-body img{
    width: 75px;
}
body{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header"
    "divtodos"
    "main"
    "footer";
}
header{
    grid-area: header;
}

.divtodos{
    grid-area: divtodos;
}
main{
grid-area: main;
}
footer{
grid-area: footer;
}
@media (min-width: 992px) {
.grid-container{
    grid-template: 
    "header header header" 150px
    "divtodos divtodos divtodos"100px
    "main main main" 100px
    "footer footer footer" 100px
    }
}
@media (min-width: 576px){
    .grid-container{
        grid-template:
        "header header" 100px 
        "divtodos divtodos" auto
        "main     main" 100px
        "footer  footer" 100px /
        200px   auto;
    }
    }
    
    
   